{% extends 'base.html.twig' %}

{% block title %}Fetch articles{% endblock %}

{% block body %}
    <h1>Détail de l'article : </h1>
    <div id="articles"></div>
    <div id="error"></div>
    <script src="{{ asset('asset/script/fetchOneArticle.js') }}"></script>
{% endblock %}